*::selection{
    background-color:rgb(64,225,208);
    color:black;
}
    /* Todo : Fix height of animation in mobile version(set to 20vh) */

    body {
        font-family: 'Inter', sans-serif;
        margin: none;
        padding: none;
        box-sizing: border-box;
    }

    :root {
        --header-height: 3rem;
        --normal-font-size: 1rem;
        --small-font-size: .75rem;
    }

    /*===== Colores =====*/

    :root {
        --first-color: #F13A00;
        --dark-color: #ffffff;
        --dark-color-alt: #282B3A;
        --white-color: #E6E7E9;
    }

    /*===== Fuente y tipografia =====*/

    :root {
        --body-font: sans-serif, sans-serif;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
    }

    @media screen and (min-width: 768px) {
        :root {
            --normal-font-size: 1rem;
            --small-font-size: .875rem;
        }
    }

    /*===== z index =====*/

    :root {
        --z-fixed: 100;
    }

    /*===== BASE =====*/

    *,
    ::before,
    ::after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    body {
        margin: var(--header-height) 0 0 0;
        font-family: 'Inter', sans-serif;
        ;
        ;
        font-size: var(--normal-font-size);
        font-weight: 500;
    }

    .nav__img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-top: .25rem;
        margin-bottom: .8rem;
        width: 56px;
        height: 56px;
        background-color: var(--first-color);
        border-radius: 50%;
        overflow: hidden;
    }

    .nav__img img {
        width: 46px;
    }

    .nav__profesion {
        font-size: var(--small-font-size);
    }

    .nav__border {
        border-bottom: 3px solid lightgray;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .bd-grid {
        max-width: 1024px;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    /*===== HEADER =====*/

    .header {
        font-family: 'Inter', sans-serif;
        ;
        ;
        border-bottom: 1px solid lightgray;
        box-shadow: 0 12px 80px rgba(0, 0, 0, 0.07);
        width: 100%;
        height: var(--header-height);
        position: fixed;
        top: 0;
        left: 0;
        padding: 0 1.5rem;
        background-color: var(--dark-color);
        z-index: var(--z-fixed);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .header__logo {
        color: #0C3866;
    }

    .header__toggle {
        font-size: 1.5rem;
        color: #0C3866;
        cursor: pointer;
    }

    /*===== NAV =====*/

    @media screen and (max-width: 768px) {
        .nav {
            position: fixed;
            top: 0;
            left: -100%;
            background-color: var(--dark-color);
            color: #0C3866;
            width: 100%;
            height: 100vh;
            padding: 1.5rem 0;
            z-index: var(--z-fixed);
            -webkit-transition: .5s;
            transition: .5s;
        }
    }

    .nav__content {
        height: 100%;
        -ms-grid-rows: max-content 1fr max-content;
        grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
        grid-template-rows: max-content 1fr max-content;
        row-gap: 2rem;
    }

    .nav__close {
        position: absolute;
        right: 1.5rem;
        font-size: 1.3rem;
        padding: .25rem;
        background-color: var(--dark-color-alt);
        border-radius: 50%;
        cursor: pointer;
    }

    .nav__img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-top: .25rem;
        margin-bottom: .8rem;
        width: 56px;
        height: 56px;
        background-color: var(--first-color);
        border-radius: 50%;
        overflow: hidden;
    }

    .nav__img img {
        width: 46px;
    }

    .nav__img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-top: .25rem;
        margin-bottom: .8rem;
        width: 56px;
        height: 56px;
        background-color: var(--first-color);
        border-radius: 50%;
        overflow: hidden;
    }

    .nav__img img {
        width: 46px;
    }

    .nav__profesion {
        font-size: var(--small-font-size);
    }

    .nav__menu {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }

    .nav__item {
        color: black !important;
        margin: 2.5rem 0;
    }

    .nav__link {
        color: black;
    }

    .nav__social {
        padding-top: .5rem;
    }

    .nav__social-icon {
        font-size: 1.2rem;
        color: var(--white-color);
        margin-right: 1rem;
    }

    .nav__social-icon:hover {
        color: var(--first-color);
    }

    /*Aparecer menu*/

    .show {
        left: 0;
    }

    /*Active menu*/

    .active {
        color: var(--first-color);
    }

    /*===== MEDIA QUERIES =====*/

    @media screen and (min-width: 768px) {
        body {
            margin: 0;
        }

        header {
            font-family: 'Inter', sans-serif;
            ;
            ;
        }

        .header {
            font-family: 'Inter', sans-serif;
            ;
            ;
            height: calc(var(--header-height) + 1rem);
        }

        .header__logo,
        .header__toggle {
            display: none;
        }

        .nav {
            width: 100%;
        }

        .nav__content {
            -ms-grid-columns: (max-content);
            grid-template-columns: repeat(3, -webkit-max-content);
            grid-template-columns: repeat(3, max-content);
            -ms-grid-rows: 1fr;
            grid-template-rows: 1fr;
            -webkit-column-gap: 1rem;
            column-gap: 1rem;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

        .nav__close,
        .nav__profesion {
            display: none;
        }

        .nav__list {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

        .nav__item {
            margin: 0 .25rem;
        }

        .nav__link {
            padding: .5rem .8rem;
            border-radius: .25rem;
        }

        .nav__link:hover {
            padding-bottom: 8px;
        }

        .active {
            padding-bottom: 8px;
            color: var(--first-color);
        }
    }

    @media screen and (min-width: 1024px) {
        .bd-grid {
            margin-left: auto;
            margin-right: auto;
        }
    }

    /* .animation {
    z-index: 3;
    margin-top: 8vh;
    padding: 40vh 0px 40vh 0px;
    background-color: #18CEEB;
    text-align: center;
    animation: shrink 0.5s ease forwards 6s;
}

#logo {
    width: 90%;
    text-align: center;
    animation: fill 0.5s ease forwards 6s;
    animation: reduceSize 0.5s ease forwards 6.14s;
}

#logo>path:nth-child(1) {
    stroke-dasharray: 556.3489990234375;
    stroke-dashoffset: 556.3489990234375;
    animation: animation 1s ease forwards;
}

#logo>path:nth-child(2) {
    stroke-dasharray: 351.6983337402344;
    stroke-dashoffset: 351.6983337402344;
    animation: animation 1s ease forwards 0.3s;
}

#logo>path:nth-child(3) {
    stroke-dasharray: 218.71536254882812;
    stroke-dashoffset: 218.71536254882812;
    animation: animation 1s ease forwards 0.6s;
}

#logo>path:nth-child(4) {
    stroke-dasharray: 357.822021484375;
    stroke-dashoffset: 357.822021484375;
    animation: animation 1s ease forwards 0.9s;
}

#logo>path:nth-child(5) {
    stroke-dasharray: 170.8502960205078;
    stroke-dashoffset: 170.8502960205078;
    animation: animation 1s ease forwards 1.2s;
}

#logo>path:nth-child(6) {
    stroke-dasharray: 219.49667358398438;
    stroke-dashoffset: 219.49667358398438;
    animation: animation 1s ease forwards 1.5s;
}

#logo>path:nth-child(7) {
    stroke-dasharray: 301.2311096191406;
    stroke-dashoffset: 301.2311096191406;
    animation: animation 1s ease forwards 1.8s;
}

#logo>path:nth-child(8) {
    stroke-dasharray: 170.8502960205078;
    stroke-dashoffset: 170.8502960205078;
    animation: animation 1s ease forwards 2.1s;
}

#logo>path:nth-child(9) {
    stroke-dasharray: 331.78326416015625;
    stroke-dashoffset: 331.78326416015625;
    animation: animation 1s ease forwards 2.4s;
}

#logo>path:nth-child(10) {
    stroke-dasharray: 357.8227233886719;
    stroke-dashoffset: 357.8227233886719;
    animation: animation 1s ease forwards 2.7s;
}

#logo>path:nth-child(11) {
    stroke-dasharray: 351.69854736328125;
    stroke-dashoffset: 351.69854736328125;
    animation: animation 1s ease forwards 3s;
}

#logo>path:nth-child(12) {
    stroke-dasharray: 166.20005798339844;
    stroke-dashoffset: 166.20005798339844;
    animation: animation 1s ease forwards 3.3s;
}

#logo>path:nth-child(13) {
    stroke-dasharray: 218.71505737304688;
    stroke-dashoffset: 218.71505737304688;
    animation: animation 1s ease forwards 3.6s;
}

#logo>path:nth-child(14) {
    stroke-dasharray: 331.7834777832031;
    stroke-dashoffset: 331.7834777832031;
    animation: animation 1s ease forwards 3.9s;
}

#logo>path:nth-child(15) {
    stroke-dasharray: 298.20849609375;
    stroke-dashoffset: 298.20849609375;
    animation: animation 1s ease forwards 4.2s;
}

#logo>path:nth-child(16) {
    stroke-dasharray: 166.20005798339844;
    stroke-dashoffset: 166.20005798339844;
    animation: animation 1s ease forwards 4.5s;
}

#logo>path:nth-child(17) {
    stroke-dasharray: 166.53402709960938;
    stroke-dashoffset: 166.53402709960938;
    animation: animation 1s ease forwards 4.8s;
}

#logo>path:nth-child(18) {
    stroke-dasharray: 219.49676513671875;
    stroke-dashoffset: 219.49676513671875;
    animation: animation 1s ease forwards 5.1s;
}

#logo>path:nth-child(19) {
    stroke-dasharray: 357.8216247558594;
    stroke-dashoffset: 357.8216247558594;
    animation: animation 1s ease forwards 5.4s;
}

#logo>path:nth-child(20) {
    stroke-dasharray: 156.15896606445312;
    stroke-dashoffset: 156.15896606445312;
    animation: animation 1s ease forwards 5.7s;
}

@keyframes animation {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }

    to {
        fill: #0E0A42;
    }
}

@keyframes shrink {
    to {
        padding: 0px;
    }
}

@keyframes reduceSize {
    to {
        width: 40%;
        fill: #0E0A42;
        padding: none;
        margin: none;
    }
} */

    .main {
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(6, 15, 58);
        color: white;
        padding: 10vw 10px 5vw 0px;
        align-items: center;
        justify-content: center;
        margin: none;
    }

    .main>.img>img {
        align-items: center;
        width: 450px;
        padding: 10px 3vw;
    }

    .main>.img {
        padding-top: 40px;
    }

    .intro {
        padding: 10px;
    }

    .intro>button {
        padding: 7px;
        font-size: 1em;
        font-family: "Inter", sans-serif;
        border-radius: 0.1rem;
        border: 1.5px solid #F13A00;
        background-color: #F13A00;
        color: white;
        margin-top: 10px;
    }

    .reasons {
        text-align: center !important;
        justify-content: center !important;
        display: flex;
        flex-wrap: wrap;
    }

    .head {
        margin-top: 7vh;
        font-family: "Inter", sans-serif;
        font-weight: 300;
        text-align: center;
    }

    .head>a {
        color: rgb(6, 15, 58);
    }

    .card {
        box-shadow: 0 6.3px 5px rgba(0, 0, 0, 0.055), 0 19.6px 16.3px rgba(0, 0, 0, 0.069), 0 50px 80px rgba(0, 0, 0, 0.07);
        margin: 10px;
        padding: 10px;
        max-width: 200px;
        justify-content: center;
        border-radius: 0.2rem;
    }

    .card>p {
        font-family: "Inter", sans-serif;
        font-weight: 200;
    }

    .l-form {
        text-align: center;
        margin-top: 10vh;
        display: flex;
        justify-content: center;
        font-family: "Inter", sans-serif;
        align-items: center;
        height: 100vh;
    }

    .form {
        border: 1px solid lightgray;
        width: 360px;
        padding: 1rem 2rem;
        border-radius: 1rem;
        box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
    }

    .form__title {
        font-weight: 400;
        margin-bottom: 3rem;
    }

    .form__div {
        position: relative;
        height: 48px;
        margin-bottom: 1.5rem;
    }

    .form__input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: var(--small-font-size);
        border: 1px solid rgb(13, 122, 150);
        border-radius: .5rem;
        outline: none;
        padding: 1rem;
        background: none;
        z-index: 1;
    }

    .form__label {
        position: absolute;
        left: 1rem;
        top: 1rem;
        padding: 0 .25rem;
        background-color: #fff;
        color: rgb(13, 122, 150);
        font-size: var(--normal-font-size);
        transition: .3s;
    }

    .form__button {
        display: block;
        margin-left: auto;
        padding: .75rem 2rem;
        outline: none;
        border: none;
        background-color: var(--first-color);
        color: #fff;
        font-size: var(--normal-font-size);
        border-radius: .5rem;
        cursor: pointer;
        transition: .3s;
    }

    .form__button:hover {
        box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
    }

    /*Input focus move up label*/

    .form__input:focus+.form__label {
        top: -.5rem;
        left: .8rem;
        color: rgb(13, 122, 150);
        font-size: var(--small-font-size);
        font-weight: 500;
        z-index: 10;
    }

    /*Input focus sticky top label*/

    .form__input:not(:placeholder-shown).form__input:not(:focus)+.form__label {
        top: -.5rem;
        left: .8rem;
        font-size: var(--small-font-size);
        font-weight: 500;
        z-index: 10;
    }

    /*Input focus*/

    .form__input:focus {
        border: 1.5px solid rgb(13, 122, 150);
    }
    .text {
        text-align: center;
    }

    .intro {
        margin: none;
        margin-top: -10px;
    }

    .intro>.head {
        font-size: 1.5em;
        text-align: left;
    }

    .intro>ul {
        list-style: circle;
    }

    .intro>ul>li {
        font-family: 'Inter', sans-serif;
        font-weight: lighter;
        text-align: left !important;
        font-size: 1.1em;
    }

    .intro>h5 {
        font-family: "Inter", sans-serif;
        font-weight: 300;
        font-size: 1em;
        text-align: left;
    }

    .why {
        margin-bottom: 10px;
    }

    .why>.reasons {
        display: flex;
        flex-wrap: wrap;
    }

    .why>.reasons>.reason {
        padding: 15px;
        margin: 10px;
        font-family: 'Merriweather', serif;
        text-align: justify;
        max-width: 300px;
        border: 1px solid lightgray;
        color: gray;
        transition-duration: 0.1s;
    }

    .why>.reasons>.r1:hover {
        color: black;
        box-shadow: 0 1.3px 3.6px rgba(0, 0, 0, 0.036), 0 3.6px 10px rgba(0, 0, 0, 0.054), 0 8.7px 24.1px rgba(0, 0, 0, 0.066), 0 29px 80px rgba(0, 0, 0, 0.07);
    }

    .why>.reasons>.r2:hover {
        color: black;
        box-shadow: 0 1.3px 3.6px rgba(0, 0, 0, 0.036), 0 3.6px 10px rgba(0, 0, 0, 0.054), 0 8.7px 24.1px rgba(0, 0, 0, 0.066), 0 29px 80px rgba(0, 0, 0, 0.07);
    }

    .why>.reasons>.r3:hover {
        color: black;
        box-shadow: 0 1.3px 3.6px rgba(0, 0, 0, 0.036), 0 3.6px 10px rgba(0, 0, 0, 0.054), 0 8.7px 24.1px rgba(0, 0, 0, 0.066), 0 29px 80px rgba(0, 0, 0, 0.07);
    }

    .benefits {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .benefits>.para {
        padding: 10px;
        max-width: 450px;
    }

    .benefits>.image>img {
        max-width: 450px;
    }

    .benefits>.image {
        padding: 20px;
        margin-bottom:10vh;
    }
    .form__input{
        font-size:1em;
    }
.register {
        display: flex;
        flex-wrap: wrap;
    }

    .register>div {
        width:400px;
        margin:0 auto;
    }
    .register >.l-form > .form{
        width:500px;
    }
    .register > .adress{
        margin-top:50px;
        margin-bottom:50px;
        text-align:left;
        padding:10px;
    }

.footer{
    font-family:"Inter", sans-serif;
    background-color:rgb(51, 51, 51);
    color:white;
    display:flex;
    flex-wrap:wrap;
}
.footer > ul{
    margin:10px auto;
}
.footer > ul > li{
    font-weight:300;
    font-size:0.9em;
    padding:2.5px 0px;
    color:ghostwhite;
}
.footer > ul > .list_head{
    font-weight:400;
    font-size:1.5em;
    padding:5px;
    text-align:left;
}